[submodule "QuickDialog"]
	path = QuickDialog
	url = dungbx@gmail.com:escoz/QuickDialog.git
[submodule "Vendor/REComposeViewController"]
	path = Vendor/REComposeViewController
	url = https://github.com/romaonthego/REComposeViewController.git
[submodule "Vendor/GrowingTextView"]
	path = Vendor/GrowingTextView
	url = https://github.com/HansPinckaers/GrowingTextView
[submodule "Vendor/STTweetLabel"]
	path = Vendor/STTweetLabel
	url = https://github.com/SebastienThiebaud/STTweetLabel.git
[submodule "Vendor/RNBlurModalView"]
	path = Vendor/RNBlurModalView
	url = https://github.com/rnystrom/RNBlurModalView.git
[submodule "Vendor/YIPopupTextView"]
	path = Vendor/YIPopupTextView
	url = https://github.com/inamiy/YIPopupTextView.git
[submodule "Vendor/SDWebImage"]
	path = Vendor/SDWebImage
	url = https://github.com/rs/SDWebImage.git
