[submodule "QuickDialog"]
	path = QuickDialog
	url = dungbx@gmail.com:escoz/QuickDialog.git
[submodule "Vendor/QuickDialog"]
	path = Vendor/QuickDialog
	url = https://github.com/escoz/QuickDialog.git
[submodule "Vendor/GPUImage"]
	path = Vendor/GPUImage
	url = https://github.com/BradLarson/GPUImage.git
[submodule "Vendor/MBProgressHUD"]
	path = Vendor/MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD.git
[submodule "Vendor/REComposeViewController"]
	path = Vendor/REComposeViewController
	url = https://github.com/romaonthego/REComposeViewController.git
[submodule "Vendor/RDActionSheet"]
	path = Vendor/RDActionSheet
	url = https://github.com/reddavis/RDActionSheet.git
[submodule "Vendor/AFNetworking"]
	path = Vendor/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "Vendor/JASidePanels"]
	path = Vendor/JASidePanels
	url = https://github.com/gotosleep/JASidePanels.git
[submodule "Vendor/GrowingTextView"]
	path = Vendor/GrowingTextView
	url = https://github.com/HansPinckaers/GrowingTextView
[submodule "Vendor/STTweetLabel"]
	path = Vendor/STTweetLabel
	url = https://github.com/SebastienThiebaud/STTweetLabel.git
[submodule "Vendor/RNBlurModalView"]
	path = Vendor/RNBlurModalView
	url = https://github.com/rnystrom/RNBlurModalView.git
[submodule "Vendor/ImageCrop"]
	path = Vendor/ImageCrop
	url = https://github.com/heitorfr/ios-image-editor.git
[submodule "Vendor/BCGenieEffect"]
	path = Vendor/BCGenieEffect
	url = https://github.com/Ciechan/BCGenieEffect.git
[submodule "Vendor/YIPopupTextView"]
	path = Vendor/YIPopupTextView
	url = https://github.com/inamiy/YIPopupTextView.git
[submodule "Vendor/SDWebImage"]
	path = Vendor/SDWebImage
	url = https://github.com/rs/SDWebImage.git
[submodule "Vendor/MTStatusBarOverlay"]
	path = Vendor/MTStatusBarOverlay
	url = https://github.com/myell0w/MTStatusBarOverlay.git
