[submodule "QuickDialog"]
	path = QuickDialog
	url = dungbx@gmail.com:escoz/QuickDialog.git
[submodule "Vendor/QuickDialog"]
	path = Vendor/QuickDialog
	url = https://github.com/escoz/QuickDialog.git
[submodule "Vendor/GPUImage"]
	path = Vendor/GPUImage
	url = https://github.com/BradLarson/GPUImage.git
[submodule "Vendor/EGOTableViewPullRefresh"]
	path = Vendor/EGOTableViewPullRefresh
	url = https://github.com/enormego/EGOTableViewPullRefresh.git
[submodule "Vendor/MBProgressHUD"]
	path = Vendor/MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD.git
[submodule "Vendor/FacebookSDK"]
	path = Vendor/FacebookSDK
	url = https://github.com/facebook/facebook-ios-sdk.git
[submodule "Vendor/REComposeViewController"]
	path = Vendor/REComposeViewController
	url = https://github.com/romaonthego/REComposeViewController.git
[submodule "Vendor/RDActionSheet"]
	path = Vendor/RDActionSheet
	url = https://github.com/reddavis/RDActionSheet.git
[submodule "Vendor/appirater"]
	path = Vendor/appirater
	url = https://github.com/arashpayan/appirater.git
