<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Aqua</string>
		<key>title2</key>
		<string>あくあ</string>
		<key>font</key>
		<string>aqua_pfont</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Black Jack</string>
		<key>font</key>
		<string>BlackJackRegular</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Capture It</string>
		<key>font</key>
		<string>Captureit2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Caviar Dreams</string>
		<key>font</key>
		<string>CaviarDreams-Bold</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Existence</string>
		<key>font</key>
		<string>Existence-UnicaseLight</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Goon</string>
		<key>font</key>
		<string>Goon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Hui</string>
		<key>title2</key>
		<string>ふぃ字</string>
		<key>font</key>
		<string>HuiFontP</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Journal</string>
		<key>font</key>
		<string>journal</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Lavanderia</string>
		<key>font</key>
		<string>Lavanderia-Delicate</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Ostrich</string>
		<key>font</key>
		<string>OstrichSans-Medium</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Pacifico</string>
		<key>font</key>
		<string>Pacifico</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Quicksand</string>
		<key>font</key>
		<string>QuicksandLight-Regular</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Sniglet</string>
		<key>font</key>
		<string>Sniglet</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Ubuntu</string>
		<key>font</key>
		<string>Ubuntu-Title</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Windsong</string>
		<key>font</key>
		<string>Windsong</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Futura</string>
		<key>font</key>
		<string>Futura-Medium</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Academy</string>
		<key>font</key>
		<string>AcademyEngravedLetPlain</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Futura</string>
		<key>font</key>
		<string>Futura-Medium</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Futura Condensed</string>
		<key>font</key>
		<string>Futura-CondensedExtraBold</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Georgia</string>
		<key>font</key>
		<string>Georgia</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Helvetica</string>
		<key>font</key>
		<string>Helvetica</string>
	</dict>
	<dict>
		<key>title</key>
		<string>HelveticaNeue CondensedBold</string>
		<key>font</key>
		<string>HelveticaNeue-CondensedBold</string>
	</dict>
	<dict>
		<key>title</key>
		<string>HelveticaNeue UltraLight</string>
		<key>font</key>
		<string>HelveticaNeue-UltraLight</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Optima</string>
		<key>font</key>
		<string>Optima-Regular</string>
	</dict>
	<dict>
		<key>title</key>
		<string>HoeflerText</string>
		<key>font</key>
		<string>HoeflerText-Regular</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Noteworthy</string>
		<key>font</key>
		<string>Noteworthy-Light</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Zapfino</string>
		<key>font</key>
		<string>Zapfino</string>
	</dict>
</array>
</plist>
