<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fonts</key>
	<array>
		<dict>
			<key>name</key>
			<string>LiveSimply</string>
			<key>displayedName</key>
			<string>Live Simply</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Windsong</string>
			<key>displayedName</key>
			<string>Windsong</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ArvilSans</string>
			<key>displayedName</key>
			<string>Arvil Sans</string>
		</dict>
		<dict>
			<key>name</key>
			<string>MavenProLight300-Regular</string>
			<key>displayedName</key>
			<string>Maven Pro Light</string>
		</dict>
		<dict>
			<key>displayedName</key>
			<string>Blackout Sunrise</string>
			<key>name</key>
			<string>Blackout-Sunrise</string>
			<key>displayedSize</key>
			<integer>19</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Goon</string>
			<key>displayedName</key>
			<string>Goon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lavanderia</string>
			<key>displayedName</key>
			<string> Lavanderia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Ribbon</string>
			<key>displayedName</key>
			<string>Ribbon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>WisdomScriptAI</string>
			<key>displayedName</key>
			<string>Wisdom Script</string>
		</dict>
		<dict>
			<key>lineHeight</key>
			<real>0.7</real>
			<key>shadowOpacity</key>
			<integer>1</integer>
			<key>shadowColor</key>
			<real>0</real>
			<key>characterSpacing</key>
			<integer>-1</integer>
			<key>shadowRadius</key>
			<integer>1</integer>
			<key>name</key>
			<string>League Gothic</string>
			<key>shadowOffset</key>
			<string>{0, 1}</string>
		</dict>
		<dict>
			<key>allCaps</key>
			<false/>
			<key>lineHeight</key>
			<real>0.7</real>
			<key>shadowOpacity</key>
			<integer>1</integer>
			<key>shadowColor</key>
			<real>0</real>
			<key>characterSpacing</key>
			<integer>-2</integer>
			<key>shadowRadius</key>
			<integer>1</integer>
			<key>name</key>
			<string>Pacifico</string>
			<key>shadowOffset</key>
			<string>{0, 1}</string>
		</dict>
		<dict>
			<key>allCaps</key>
			<false/>
			<key>lineHeight</key>
			<real>1</real>
			<key>shadowOpacity</key>
			<integer>1</integer>
			<key>shadowColor</key>
			<real>0</real>
			<key>characterSpacing</key>
			<integer>-3</integer>
			<key>shadowRadius</key>
			<integer>1</integer>
			<key>name</key>
			<string>Sniglet</string>
			<key>shadowOffset</key>
			<string>{0, 1}</string>
		</dict>
		<dict>
			<key>allCaps</key>
			<false/>
			<key>lineHeight</key>
			<real>0</real>
			<key>shadowOpacity</key>
			<integer>1</integer>
			<key>shadowColor</key>
			<real>0</real>
			<key>characterSpacing</key>
			<integer>-2</integer>
			<key>shadowRadius</key>
			<integer>1</integer>
			<key>name</key>
			<string>ChunkFive</string>
			<key>shadowOffset</key>
			<string>{0, 1}</string>
		</dict>
		<dict>
			<key>allCaps</key>
			<false/>
			<key>lineHeight</key>
			<real>0.8</real>
			<key>shadowOpacity</key>
			<integer>1</integer>
			<key>shadowColor</key>
			<real>0</real>
			<key>displayedName</key>
			<string>Sorts Mill Goudy</string>
			<key>characterSpacing</key>
			<integer>-2</integer>
			<key>shadowRadius</key>
			<integer>1</integer>
			<key>name</key>
			<string>OFLGoudyStM</string>
			<key>shadowOffset</key>
			<string>{0, 1}</string>
		</dict>
		<dict>
			<key>allCaps</key>
			<false/>
			<key>lineHeight</key>
			<real>0.8</real>
			<key>shadowOpacity</key>
			<integer>1</integer>
			<key>shadowColor</key>
			<real>0</real>
			<key>displayedName</key>
			<string>Blanch</string>
			<key>characterSpacing</key>
			<integer>0</integer>
			<key>shadowRadius</key>
			<integer>1</integer>
			<key>name</key>
			<string>Blanch-Condensed</string>
			<key>shadowOffset</key>
			<string>{0, 1}</string>
		</dict>
		<dict>
			<key>allCaps</key>
			<false/>
			<key>lineHeight</key>
			<real>0</real>
			<key>shadowOpacity</key>
			<integer>1</integer>
			<key>shadowColor</key>
			<real>0</real>
			<key>displayedName</key>
			<string>Blackout</string>
			<key>characterSpacing</key>
			<integer>-2</integer>
			<key>shadowRadius</key>
			<integer>1</integer>
			<key>name</key>
			<string>Blackout-TwoAM</string>
			<key>shadowOffset</key>
			<string>{0, 1}</string>
		</dict>
		<dict>
			<key>allCaps</key>
			<false/>
			<key>lineHeight</key>
			<real>0.9</real>
			<key>shadowOpacity</key>
			<integer>1</integer>
			<key>shadowColor</key>
			<real>0</real>
			<key>displayedName</key>
			<string>Ostrich Sans</string>
			<key>characterSpacing</key>
			<integer>0</integer>
			<key>shadowRadius</key>
			<integer>1</integer>
			<key>name</key>
			<string>OstrichSans-Medium</string>
			<key>shadowOffset</key>
			<string>{0, 1}</string>
		</dict>
		<dict>
			<key>allCaps</key>
			<false/>
			<key>lineHeight</key>
			<real>0.7</real>
			<key>shadowOpacity</key>
			<integer>1</integer>
			<key>shadowColor</key>
			<real>0</real>
			<key>characterSpacing</key>
			<integer>-5</integer>
			<key>shadowRadius</key>
			<integer>1</integer>
			<key>name</key>
			<string>Haymaker</string>
			<key>shadowOffset</key>
			<string>{0, 1}</string>
		</dict>
		<dict>
			<key>allCaps</key>
			<false/>
			<key>lineHeight</key>
			<real>0.8</real>
			<key>shadowOpacity</key>
			<integer>1</integer>
			<key>shadowColor</key>
			<real>0</real>
			<key>displayedName</key>
			<string>Cooper STD</string>
			<key>characterSpacing</key>
			<integer>-2</integer>
			<key>shadowRadius</key>
			<integer>1</integer>
			<key>name</key>
			<string>CooperBlackStd</string>
			<key>shadowOffset</key>
			<string>{0, 1}</string>
		</dict>
		<dict>
			<key>allCaps</key>
			<false/>
			<key>lineHeight</key>
			<real>0.8</real>
			<key>shadowOpacity</key>
			<integer>1</integer>
			<key>shadowColor</key>
			<real>0</real>
			<key>displayedName</key>
			<string>Helvetica Neue</string>
			<key>characterSpacing</key>
			<integer>-3</integer>
			<key>shadowRadius</key>
			<integer>1</integer>
			<key>name</key>
			<string>HelveticaNeue-Light</string>
			<key>shadowOffset</key>
			<string>{0, 1}</string>
		</dict>
		<dict>
			<key>allCaps</key>
			<false/>
			<key>lineHeight</key>
			<real>0.9</real>
			<key>shadowOpacity</key>
			<integer>1</integer>
			<key>shadowColor</key>
			<real>0</real>
			<key>characterSpacing</key>
			<integer>-2</integer>
			<key>shadowRadius</key>
			<integer>1</integer>
			<key>name</key>
			<string>Knewave</string>
			<key>shadowOffset</key>
			<string>{0, 1}</string>
		</dict>
		<dict>
			<key>allCaps</key>
			<false/>
			<key>lineHeight</key>
			<integer>0</integer>
			<key>shadowOpacity</key>
			<integer>1</integer>
			<key>shadowColor</key>
			<real>0</real>
			<key>characterSpacing</key>
			<integer>-2</integer>
			<key>shadowRadius</key>
			<integer>1</integer>
			<key>name</key>
			<string>Liberator</string>
			<key>shadowOffset</key>
			<string>{0, 1}</string>
		</dict>
		<dict>
			<key>name</key>
			<string>vevey</string>
			<key>lineHeight</key>
			<string>0.9</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Linden Hill</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mensch</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Quaver Serif</string>
		</dict>
		<dict>
			<key>displayedName</key>
			<string>Valencia Light</string>
			<key>name</key>
			<string>ValenciaLight</string>
			<key>lineHeight</key>
			<string>0.7</string>
		</dict>
	</array>
</dict>
</plist>
