<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>blendEnable</key>
		<false/>
		<key>blendImage</key>
		<string>(null)</string>
		<key>blendIntensity</key>
		<real>0.0</real>
		<key>brightness</key>
		<real>0.0</real>
		<key>clearness</key>
		<real>0.0</real>
		<key>filmEnable</key>
		<false/>
		<key>filmImage</key>
		<string>(null)</string>
		<key>filmIntensity</key>
		<real>0.0</real>
		<key>saturation</key>
		<real>1</real>
		<key>toneCurveIntensity</key>
		<real>1</real>
		<key>toneEnable</key>
		<false/>
		<key>toneImage</key>
		<string>(null)</string>
		<key>vignfade</key>
		<real>0.0</real>
	</dict>
	<dict>
		<key>blendEnable</key>
		<false/>
		<key>blendImage</key>
		<string>leak6.jpg</string>
		<key>blendIntensity</key>
		<real>0.40000000000000002</real>
		<key>brightness</key>
		<real>0.193548</real>
		<key>clearness</key>
		<real>0.16128999999999999</real>
		<key>filmEnable</key>
		<false/>
		<key>filmImage</key>
		<string>print5.jpg</string>
		<key>filmIntensity</key>
		<real>0.0</real>
		<key>saturation</key>
		<real>0.88018399999999997</real>
		<key>toneCurveIntensity</key>
		<real>0.26553700000000002</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve1.png</string>
		<key>vignfade</key>
		<real>0.52073700000000001</real>
	</dict>
	<dict>
		<key>blendEnable</key>
		<false/>
		<key>blendImage</key>
		<string>(null)</string>
		<key>blendIntensity</key>
		<real>0.0</real>
		<key>brightness</key>
		<real>0.15207362174987793</real>
		<key>clearness</key>
		<real>0.0</real>
		<key>filmEnable</key>
		<false/>
		<key>filmImage</key>
		<string>(null)</string>
		<key>filmIntensity</key>
		<real>0.0</real>
		<key>saturation</key>
		<real>1</real>
		<key>toneCurveIntensity</key>
		<real>0.58757060766220093</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve2.png</string>
		<key>vignfade</key>
		<real>0.47235023975372314</real>
	</dict>
	<dict>
		<key>blendEnable</key>
		<false/>
		<key>blendImage</key>
		<string>(null)</string>
		<key>blendIntensity</key>
		<real>0.0</real>
		<key>brightness</key>
		<real>0.23502300000000001</real>
		<key>clearness</key>
		<real>0.55530000000000002</real>
		<key>filmEnable</key>
		<false/>
		<key>filmImage</key>
		<string>(null)</string>
		<key>filmIntensity</key>
		<real>0.0</real>
		<key>saturation</key>
		<real>0.78341000000000005</real>
		<key>toneCurveIntensity</key>
		<real>0.76553700000000002</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve3.png</string>
		<key>vignfade</key>
		<real>0.63594499999999998</real>
	</dict>
	<dict>
		<key>blendEnable</key>
		<false/>
		<key>blendImage</key>
		<string>(null)</string>
		<key>blendIntensity</key>
		<real>0.0</real>
		<key>brightness</key>
		<real>0.1382489949464798</real>
		<key>clearness</key>
		<real>0.57603698968887329</real>
		<key>filmEnable</key>
		<false/>
		<key>filmImage</key>
		<string>print1.jpg</string>
		<key>filmIntensity</key>
		<real>0.0</real>
		<key>saturation</key>
		<real>1.4285709857940674</real>
		<key>toneCurveIntensity</key>
		<real>0.77966099977493286</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve4.png</string>
		<key>vignfade</key>
		<real>0.55990785360336304</real>
	</dict>
	<dict>
		<key>blendEnable</key>
		<true/>
		<key>blendImage</key>
		<string>(null)</string>
		<key>blendIntensity</key>
		<real>0.0</real>
		<key>brightness</key>
		<real>-0.511521</real>
		<key>clearness</key>
		<real>0.37327199999999999</real>
		<key>filmEnable</key>
		<true/>
		<key>filmImage</key>
		<string>print3.jpg</string>
		<key>filmIntensity</key>
		<real>0.29999999999999999</real>
		<key>saturation</key>
		<real>1.4193549999999999</real>
		<key>toneCurveIntensity</key>
		<real>1</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve5.png</string>
		<key>vignfade</key>
		<real>0.53686599999999995</real>
	</dict>
	<dict>
		<key>blendEnable</key>
		<false/>
		<key>blendImage</key>
		<string>(null)</string>
		<key>blendIntensity</key>
		<real>0.0</real>
		<key>brightness</key>
		<real>-0.207373</real>
		<key>clearness</key>
		<real>0.30875599999999997</real>
		<key>filmEnable</key>
		<true/>
		<key>filmImage</key>
		<string>print2.jpg</string>
		<key>filmIntensity</key>
		<real>0.29999999999999999</real>
		<key>saturation</key>
		<real>1.147465</real>
		<key>toneCurveIntensity</key>
		<real>0.72316400000000003</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve6.png</string>
		<key>vignfade</key>
		<real>0.55990799999999996</real>
	</dict>
	<dict>
		<key>blendEnable</key>
		<true/>
		<key>blendImage</key>
		<string>(null)</string>
		<key>blendIntensity</key>
		<real>0.0</real>
		<key>brightness</key>
		<real>-0.17972399999999999</real>
		<key>clearness</key>
		<real>0.39170500000000003</real>
		<key>filmEnable</key>
		<true/>
		<key>filmImage</key>
		<string>print6.jpg</string>
		<key>filmIntensity</key>
		<real>0.29999999999999999</real>
		<key>saturation</key>
		<real>1.2811060000000001</real>
		<key>toneCurveIntensity</key>
		<real>0.59887000000000001</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve7.png</string>
		<key>vignfade</key>
		<real>0.32488499999999998</real>
	</dict>
	<dict>
		<key>blendEnable</key>
		<true/>
		<key>blendImage</key>
		<string>leak6.jpg</string>
		<key>blendIntensity</key>
		<real>0.40000000000000002</real>
		<key>brightness</key>
		<real>-0.12442400000000001</real>
		<key>clearness</key>
		<real>0.30184299999999997</real>
		<key>filmEnable</key>
		<true/>
		<key>filmImage</key>
		<string>print2.jpg</string>
		<key>filmIntensity</key>
		<real>0.29999999999999999</real>
		<key>saturation</key>
		<real>1.207373</real>
		<key>toneCurveIntensity</key>
		<real>0.65536700000000003</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve8.png</string>
		<key>vignfade</key>
		<real>0.56221200000000005</real>
	</dict>
	<dict>
		<key>blendEnable</key>
		<true/>
		<key>blendImage</key>
		<string>(null)</string>
		<key>blendIntensity</key>
		<real>0.0</real>
		<key>brightness</key>
		<real>0.069124000000000005</real>
		<key>clearness</key>
		<real>0.22350200000000001</real>
		<key>filmEnable</key>
		<true/>
		<key>filmImage</key>
		<string>print7.jpg</string>
		<key>filmIntensity</key>
		<real>0.29999999999999999</real>
		<key>saturation</key>
		<real>1.2396309999999999</real>
		<key>toneCurveIntensity</key>
		<real>0.68644099999999997</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve9.png</string>
		<key>vignfade</key>
		<real>0.56451600000000002</real>
	</dict>
	<dict>
		<key>blendEnable</key>
		<false/>
		<key>blendImage</key>
		<string>(null)</string>
		<key>blendIntensity</key>
		<real>0.0</real>
		<key>brightness</key>
		<real>0.11059904098510742</real>
		<key>clearness</key>
		<real>0.30414700508117676</real>
		<key>filmEnable</key>
		<false/>
		<key>filmImage</key>
		<string>print9.jpg</string>
		<key>filmIntensity</key>
		<real>0.0</real>
		<key>saturation</key>
		<real>1.2580645084381104</real>
		<key>toneCurveIntensity</key>
		<real>0.80225998163223267</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve10.png</string>
		<key>vignfade</key>
		<real>0.53686600923538208</real>
	</dict>
	<dict>
		<key>blendEnable</key>
		<false/>
		<key>blendImage</key>
		<string>(null)</string>
		<key>blendIntensity</key>
		<real>0.0</real>
		<key>brightness</key>
		<real>0.055299520492553711</real>
		<key>clearness</key>
		<real>0.24193547666072845</real>
		<key>filmEnable</key>
		<false/>
		<key>filmImage</key>
		<string>(null)</string>
		<key>filmIntensity</key>
		<real>0.0</real>
		<key>saturation</key>
		<real>1.3732719421386719</real>
		<key>toneCurveIntensity</key>
		<real>0.82203388214111328</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve11.png</string>
		<key>vignfade</key>
		<real>0.52073734998703003</real>
	</dict>
	<dict>
		<key>blendEnable</key>
		<false/>
		<key>blendImage</key>
		<string>(null)</string>
		<key>blendIntensity</key>
		<real>0.0</real>
		<key>brightness</key>
		<real>0.0</real>
		<key>clearness</key>
		<real>0.0</real>
		<key>filmEnable</key>
		<false/>
		<key>filmImage</key>
		<string>(null)</string>
		<key>filmIntensity</key>
		<real>0.0</real>
		<key>saturation</key>
		<real>1</real>
		<key>toneCurveIntensity</key>
		<real>0.70338982343673706</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve12.png</string>
		<key>vignfade</key>
		<real>0.52995389699935913</real>
	</dict>
	<dict>
		<key>blendEnable</key>
		<false/>
		<key>blendImage</key>
		<string>(null)</string>
		<key>blendIntensity</key>
		<real>0.0</real>
		<key>brightness</key>
		<real>0.13824892044067383</real>
		<key>clearness</key>
		<real>0.0</real>
		<key>filmEnable</key>
		<false/>
		<key>filmImage</key>
		<string>(null)</string>
		<key>filmIntensity</key>
		<real>0.0</real>
		<key>saturation</key>
		<real>1</real>
		<key>toneCurveIntensity</key>
		<real>1</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve13.png</string>
		<key>vignfade</key>
		<real>0.49769586324691772</real>
	</dict>
	<dict>
		<key>blendEnable</key>
		<true/>
		<key>blendImage</key>
		<string>(null)</string>
		<key>blendIntensity</key>
		<real>0.0</real>
		<key>brightness</key>
		<real>0.15207399999999999</real>
		<key>clearness</key>
		<real>0.0</real>
		<key>filmEnable</key>
		<true/>
		<key>filmImage</key>
		<string>print8.jpg</string>
		<key>filmIntensity</key>
		<real>0.29999999999999999</real>
		<key>saturation</key>
		<real>0.88479300000000005</real>
		<key>toneCurveIntensity</key>
		<real>0.63559299999999996</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve14.png</string>
		<key>vignfade</key>
		<real>0.63824899999999996</real>
	</dict>
	<dict>
		<key>blendEnable</key>
		<false/>
		<key>blendImage</key>
		<string>leak40.jpg</string>
		<key>blendIntensity</key>
		<real>0.0</real>
		<key>brightness</key>
		<real>0.24884796142578125</real>
		<key>clearness</key>
		<real>0.35023042559623718</real>
		<key>filmEnable</key>
		<true/>
		<key>filmImage</key>
		<string>print9.jpg</string>
		<key>filmIntensity</key>
		<real>0.60000002384185791</real>
		<key>saturation</key>
		<real>0.0</real>
		<key>toneCurveIntensity</key>
		<real>0.65536725521087646</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve15.png</string>
		<key>vignfade</key>
		<real>0.55529952049255371</real>
	</dict>
	<dict>
		<key>blendEnable</key>
		<false/>
		<key>blendImage</key>
		<string>(null)</string>
		<key>blendIntensity</key>
		<real>0.0</real>
		<key>brightness</key>
		<real>0.027649879455566406</real>
		<key>clearness</key>
		<real>0.34792625904083252</real>
		<key>filmEnable</key>
		<false/>
		<key>filmImage</key>
		<string>(null)</string>
		<key>filmIntensity</key>
		<real>0.0</real>
		<key>saturation</key>
		<real>0.0</real>
		<key>toneCurveIntensity</key>
		<real>1</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve16.png</string>
		<key>vignfade</key>
		<real>0.56451612710952759</real>
	</dict>
	<dict>
		<key>blendEnable</key>
		<false/>
		<key>blendImage</key>
		<string>(null)</string>
		<key>blendIntensity</key>
		<real>0.0</real>
		<key>brightness</key>
		<real>0.082948997616767883</real>
		<key>clearness</key>
		<real>0.26728099584579468</real>
		<key>filmEnable</key>
		<true/>
		<key>filmImage</key>
		<string>print3.jpg</string>
		<key>filmIntensity</key>
		<real>0.30000001192092896</real>
		<key>saturation</key>
		<real>1.2073730230331421</real>
		<key>toneCurveIntensity</key>
		<real>1</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve17.png</string>
		<key>vignfade</key>
		<real>0.57142859697341919</real>
	</dict>
	<dict>
		<key>blendEnable</key>
		<false/>
		<key>blendImage</key>
		<string>(null)</string>
		<key>blendIntensity</key>
		<real>0.0</real>
		<key>brightness</key>
		<real>0.11059899628162384</real>
		<key>clearness</key>
		<real>0.22580599784851074</real>
		<key>filmEnable</key>
		<true/>
		<key>filmImage</key>
		<string>print3.jpg</string>
		<key>filmIntensity</key>
		<real>0.30000001192092896</real>
		<key>saturation</key>
		<real>1.4654380083084106</real>
		<key>toneCurveIntensity</key>
		<real>0.74293798208236694</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve18.png</string>
		<key>vignfade</key>
		<real>0.52764976024627686</real>
	</dict>
</array>
</plist>
