<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>exposure</key>
		<integer>0</integer>
		<key>clearness</key>
		<integer>0</integer>
		<key>saturation</key>
		<integer>1</integer>
		<key>title</key>
		<string>Original</string>
		<key>toneCurveIntensity</key>
		<integer>1</integer>
		<key>toneEnable</key>
		<false/>
		<key>toneImage</key>
		<string>(null)</string>
		<key>vignfade</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>exposure</key>
		<real>0.193548</real>
		<key>clearness</key>
		<real>0.16128999999999999</real>
		<key>saturation</key>
		<real>0.88018399999999997</real>
		<key>title</key>
		<string>Classic</string>
		<key>toneCurveIntensity</key>
		<real>0.26553700000000002</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve1.png</string>
		<key>vignfade</key>
		<real>0.52073700000000001</real>
	</dict>
	<dict>
		<key>exposure</key>
		<real>0.1520736217498779</real>
		<key>clearness</key>
		<integer>0</integer>
		<key>saturation</key>
		<integer>1</integer>
		<key>title</key>
		<string>Soft</string>
		<key>toneCurveIntensity</key>
		<real>0.58757060766220093</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve2.png</string>
		<key>vignfade</key>
		<real>0.47235023975372309</real>
	</dict>
	<dict>
		<key>exposure</key>
		<real>0.23502300000000001</real>
		<key>clearness</key>
		<real>0.55530000000000002</real>
		<key>saturation</key>
		<real>0.78341000000000005</real>
		<key>title</key>
		<string>Sandy</string>
		<key>toneCurveIntensity</key>
		<real>0.76553700000000002</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve3.png</string>
		<key>vignfade</key>
		<real>0.5</real>
	</dict>
	<dict>
		<key>exposure</key>
		<real>0.1382489949464798</real>
		<key>clearness</key>
		<real>0.57603698968887329</real>
		<key>saturation</key>
		<real>1.4285709857940669</real>
		<key>title</key>
		<string>Lavender</string>
		<key>toneCurveIntensity</key>
		<real>0.77966099977493286</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve4.png</string>
		<key>vignfade</key>
		<real>0.55990785360336304</real>
	</dict>
	<dict>
		<key>exposure</key>
		<real>-0.511521</real>
		<key>clearness</key>
		<real>0.37327199999999999</real>
		<key>saturation</key>
		<real>1.4193549999999999</real>
		<key>title</key>
		<string>Electrocute</string>
		<key>toneCurveIntensity</key>
		<integer>1</integer>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve5.png</string>
		<key>vignfade</key>
		<real>0.53686599999999995</real>
	</dict>
	<dict>
		<key>exposure</key>
		<real>-0.207373</real>
		<key>clearness</key>
		<real>0.30875599999999997</real>
		<key>saturation</key>
		<real>1.147465</real>
		<key>title</key>
		<string>Gummy</string>
		<key>toneCurveIntensity</key>
		<real>0.72316400000000003</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve6.png</string>
		<key>vignfade</key>
		<real>0.55990799999999996</real>
	</dict>
	<dict>
		<key>exposure</key>
		<real>-0.17972399999999999</real>
		<key>clearness</key>
		<real>0.39170500000000003</real>
		<key>saturation</key>
		<real>1.2811060000000001</real>
		<key>title</key>
		<string>Secret</string>
		<key>toneCurveIntensity</key>
		<real>0.59887000000000001</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve7.png</string>
		<key>vignfade</key>
		<real>0.5</real>
	</dict>
	<dict>
		<key>exposure</key>
		<real>-0.12442400000000001</real>
		<key>clearness</key>
		<real>0.30184299999999997</real>
		<key>saturation</key>
		<real>1.207373</real>
		<key>title</key>
		<string>Cozy</string>
		<key>toneCurveIntensity</key>
		<real>0.65536700000000003</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve8.png</string>
		<key>vignfade</key>
		<real>0.56221200000000005</real>
	</dict>
	<dict>
		<key>exposure</key>
		<real>0.069124000000000005</real>
		<key>clearness</key>
		<real>0.22350200000000001</real>
		<key>saturation</key>
		<real>1.2396309999999999</real>
		<key>title</key>
		<string>Haze</string>
		<key>toneCurveIntensity</key>
		<real>0.68644099999999997</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve9.png</string>
		<key>vignfade</key>
		<real>0.56451600000000002</real>
	</dict>
	<dict>
		<key>exposure</key>
		<real>0.11059904098510739</real>
		<key>clearness</key>
		<real>0.30414700508117681</real>
		<key>saturation</key>
		<real>1.2580645084381099</real>
		<key>title</key>
		<string>Glory</string>
		<key>toneCurveIntensity</key>
		<real>0.80225998163223267</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve10.png</string>
		<key>vignfade</key>
		<real>0.53686600923538208</real>
	</dict>
	<dict>
		<key>exposure</key>
		<real>0.055299520492553711</real>
		<key>clearness</key>
		<real>0.24193547666072851</real>
		<key>saturation</key>
		<real>1.3732719421386721</real>
		<key>title</key>
		<string>Big times</string>
		<key>toneCurveIntensity</key>
		<real>0.82203388214111328</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve11.png</string>
		<key>vignfade</key>
		<real>0.52073734998703003</real>
	</dict>
	<dict>
		<key>exposure</key>
		<integer>0</integer>
		<key>clearness</key>
		<integer>0</integer>
		<key>saturation</key>
		<integer>1</integer>
		<key>title</key>
		<string>Christmas</string>
		<key>toneCurveIntensity</key>
		<real>0.70338982343673706</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve12.png</string>
		<key>vignfade</key>
		<real>0.52995389699935913</real>
	</dict>
	<dict>
		<key>exposure</key>
		<real>0.1382489204406738</real>
		<key>clearness</key>
		<integer>0</integer>
		<key>saturation</key>
		<integer>1</integer>
		<key>title</key>
		<string>Dorian</string>
		<key>toneCurveIntensity</key>
		<integer>1</integer>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve13.png</string>
		<key>vignfade</key>
		<real>0.49769586324691772</real>
	</dict>
	<dict>
		<key>exposure</key>
		<real>0.15207399999999999</real>
		<key>clearness</key>
		<integer>0</integer>
		<key>saturation</key>
		<real>0.88479300000000005</real>
		<key>title</key>
		<string>Stingray</string>
		<key>toneCurveIntensity</key>
		<real>0.63559299999999996</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve14.png</string>
		<key>vignfade</key>
		<real>0.49769586324691772</real>
	</dict>
	<dict>
		<key>exposure</key>
		<real>0.0</real>
		<key>clearness</key>
		<real>0.34792625904083252</real>
		<key>saturation</key>
		<integer>0</integer>
		<key>title</key>
		<string>Xau</string>
		<key>toneCurveIntensity</key>
		<integer>1</integer>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve19.png</string>
		<key>vignfade</key>
		<real>0.56451612710952759</real>
	</dict>
	<dict>
		<key>exposure</key>
		<real>0.24884796142578119</real>
		<key>clearness</key>
		<real>0.35023042559623718</real>
		<key>saturation</key>
		<integer>0</integer>
		<key>title</key>
		<string>Forever</string>
		<key>toneCurveIntensity</key>
		<real>0.65536725521087646</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve15.png</string>
		<key>vignfade</key>
		<real>0.55529952049255371</real>
	</dict>
	<dict>
		<key>exposure</key>
		<real>0.02764987945556641</real>
		<key>clearness</key>
		<real>0.34792625904083252</real>
		<key>saturation</key>
		<integer>0</integer>
		<key>title</key>
		<string>Alone</string>
		<key>toneCurveIntensity</key>
		<integer>1</integer>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve16.png</string>
		<key>vignfade</key>
		<real>0.56451612710952759</real>
	</dict>
	<dict>
		<key>exposure</key>
		<real>0.082948997616767883</real>
		<key>clearness</key>
		<real>0.26728099584579468</real>
		<key>saturation</key>
		<real>1.2073730230331421</real>
		<key>title</key>
		<string>Inaka</string>
		<key>toneCurveIntensity</key>
		<integer>1</integer>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve17.png</string>
		<key>vignfade</key>
		<real>0.57142859697341919</real>
	</dict>
	<dict>
		<key>exposure</key>
		<real>0.1105989962816238</real>
		<key>clearness</key>
		<real>0.22580599784851069</real>
		<key>saturation</key>
		<real>1.4654380083084111</real>
		<key>title</key>
		<string>Curvy</string>
		<key>toneCurveIntensity</key>
		<real>0.74293798208236694</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve18.png</string>
		<key>vignfade</key>
		<real>0.52764976024627686</real>
	</dict>
	<dict>
		<key>exposure</key>
		<real>0.24884796142578119</real>
		<key>clearness</key>
		<real>0.35023042559623718</real>
		<key>saturation</key>
		<real>1</real>
		<key>title</key>
		<string>Extra 1</string>
		<key>toneCurveIntensity</key>
		<real>0.65536725521087646</real>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve15.png</string>
		<key>vignfade</key>
		<real>0.55529952049255371</real>
	</dict>
	<dict>
		<key>exposure</key>
		<real>0.02764987945556641</real>
		<key>clearness</key>
		<real>0.34792625904083252</real>
		<key>saturation</key>
		<real>1</real>
		<key>title</key>
		<string>Extra 2</string>
		<key>toneCurveIntensity</key>
		<integer>1</integer>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve16.png</string>
		<key>vignfade</key>
		<real>0.56451612710952759</real>
	</dict>
</array>
</plist>
