<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>toneEnable</key>
		<false/>
		<key>toneImage</key>
		<string>(null)</string>
		<key>toneCurveIntensity</key>
		<real>1</real>
		<key>brightness</key>
		<real>0</real>
		<key>saturation</key>
		<real>1</real>
		<key>clearness</key>
		<real>0</real>
		<key>vignfade</key>
		<real>0</real>
		<key>blendEnable</key>
		<false/>
		<key>blendImage</key>
		<string>(null)</string>
		<key>blendIntensity</key>
		<real>0</real>
		<key>filmEnable</key>
		<false/>
		<key>filmImage</key>
		<string>(null)</string>
		<key>filmIntensity</key>
		<real>0</real>
	</dict>
	<dict>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve9.png</string>
		<key>toneCurveIntensity</key>
		<real>0.686441</real>
		<key>brightness</key>
		<real>0.069124</real>
		<key>saturation</key>
		<real>1.239631</real>
		<key>clearness</key>
		<real>0.223502</real>
		<key>vignfade</key>
		<real>0.564516</real>
		<key>blendEnable</key>
		<true/>
		<key>blendImage</key>
		<string>leak46.jpg</string>
		<key>blendIntensity</key>
		<real>0</real>
		<key>filmEnable</key>
		<true/>
		<key>filmImage</key>
		<string>print7.jpg</string>
		<key>filmIntensity</key>
		<real>0.3</real>
	</dict>
	<dict>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve1.png</string>
		<key>toneCurveIntensity</key>
		<real>0.265537</real>
		<key>brightness</key>
		<real>0.193548</real>
		<key>saturation</key>
		<real>0.880184</real>
		<key>clearness</key>
		<real>0.16129</real>
		<key>vignfade</key>
		<real>0.520737</real>
		<key>blendEnable</key>
		<false/>
		<key>blendImage</key>
		<string>leak6.jpg</string>
		<key>blendIntensity</key>
		<real>0.4</real>
		<key>filmEnable</key>
		<false/>
		<key>filmImage</key>
		<string>print5.jpg</string>
		<key>filmIntensity</key>
		<real>0</real>
	</dict>
	<dict>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve7.png</string>
		<key>toneCurveIntensity</key>
		<real>0.59887</real>
		<key>brightness</key>
		<real>-0.179724</real>
		<key>saturation</key>
		<real>1.281106</real>
		<key>clearness</key>
		<real>0.391705</real>
		<key>vignfade</key>
		<real>0.324885</real>
		<key>blendEnable</key>
		<true/>
		<key>blendImage</key>
		<string>leak12.jpg</string>
		<key>blendIntensity</key>
		<real>0</real>
		<key>filmEnable</key>
		<true/>
		<key>filmImage</key>
		<string>print6.jpg</string>
		<key>filmIntensity</key>
		<real>0.3</real>
	</dict>
	<dict>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve10.png</string>
		<key>toneCurveIntensity</key>
		<real>0.80226</real>
		<key>brightness</key>
		<real>0.317972</real>
		<key>saturation</key>
		<real>1.267281</real>
		<key>clearness</key>
		<real>0.304147</real>
		<key>vignfade</key>
		<real>0.536866</real>
		<key>blendEnable</key>
		<false/>
		<key>blendImage</key>
		<string>(null)</string>
		<key>blendIntensity</key>
		<real>0</real>
		<key>filmEnable</key>
		<false/>
		<key>filmImage</key>
		<string>print9.jpg</string>
		<key>filmIntensity</key>
		<real>0</real>
	</dict>
	<dict>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve5.png</string>
		<key>toneCurveIntensity</key>
		<real>1</real>
		<key>brightness</key>
		<real>-0.511521</real>
		<key>saturation</key>
		<real>1.419355</real>
		<key>clearness</key>
		<real>0.373272</real>
		<key>vignfade</key>
		<real>0.536866</real>
		<key>blendEnable</key>
		<true/>
		<key>blendImage</key>
		<string>(null)</string>
		<key>blendIntensity</key>
		<real>0</real>
		<key>filmEnable</key>
		<true/>
		<key>filmImage</key>
		<string>print3.jpg</string>
		<key>filmIntensity</key>
		<real>0.3</real>
	</dict>
	<dict>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve8.png</string>
		<key>toneCurveIntensity</key>
		<real>0.655367</real>
		<key>brightness</key>
		<real>-0.124424</real>
		<key>saturation</key>
		<real>1.207373</real>
		<key>clearness</key>
		<real>0.301843</real>
		<key>vignfade</key>
		<real>0.562212</real>
		<key>blendEnable</key>
		<true/>
		<key>blendImage</key>
		<string>leak6.jpg</string>
		<key>blendIntensity</key>
		<real>0.4</real>
		<key>filmEnable</key>
		<true/>
		<key>filmImage</key>
		<string>print2.jpg</string>
		<key>filmIntensity</key>
		<real>0.3</real>
	</dict>
	<dict>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve10.png</string>
		<key>toneCurveIntensity</key>
		<real>0.79661</real>
		<key>brightness</key>
		<real>0.138249</real>
		<key>saturation</key>
		<real>0</real>
		<key>clearness</key>
		<real>0.214286</real>
		<key>vignfade</key>
		<real>0.5944700000000001</real>
		<key>blendEnable</key>
		<true/>
		<key>blendImage</key>
		<string>leak52.jpg</string>
		<key>blendIntensity</key>
		<real>0</real>
		<key>filmEnable</key>
		<true/>
		<key>filmImage</key>
		<string>print9.jpg</string>
		<key>filmIntensity</key>
		<real>0.3</real>
	</dict>
	<dict>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve15.png</string>
		<key>toneCurveIntensity</key>
		<real>0.635593</real>
		<key>brightness</key>
		<real>0.013825</real>
		<key>saturation</key>
		<real>0</real>
		<key>clearness</key>
		<real>0.426267</real>
		<key>vignfade</key>
		<real>0.631336</real>
		<key>blendEnable</key>
		<true/>
		<key>blendImage</key>
		<string>leak40.jpg</string>
		<key>blendIntensity</key>
		<real>0.4</real>
		<key>filmEnable</key>
		<true/>
		<key>filmImage</key>
		<string>print9.jpg</string>
		<key>filmIntensity</key>
		<real>0.6</real>
	</dict>
	<dict>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve17.png</string>
		<key>toneCurveIntensity</key>
		<real>1</real>
		<key>brightness</key>
		<real>0.08294899999999999</real>
		<key>saturation</key>
		<real>1.207373</real>
		<key>clearness</key>
		<real>0.267281</real>
		<key>vignfade</key>
		<real>0.599078</real>
		<key>blendEnable</key>
		<true/>
		<key>blendImage</key>
		<string>leak67.jpg</string>
		<key>blendIntensity</key>
		<real>0</real>
		<key>filmEnable</key>
		<true/>
		<key>filmImage</key>
		<string>print3.jpg</string>
		<key>filmIntensity</key>
		<real>0.3</real>
	</dict>
	<dict>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve14.png</string>
		<key>toneCurveIntensity</key>
		<real>0.635593</real>
		<key>brightness</key>
		<real>0.152074</real>
		<key>saturation</key>
		<real>0.8847930000000001</real>
		<key>clearness</key>
		<real>0</real>
		<key>vignfade</key>
		<real>0.638249</real>
		<key>blendEnable</key>
		<true/>
		<key>blendImage</key>
		<string>leak12.jpg</string>
		<key>blendIntensity</key>
		<real>0</real>
		<key>filmEnable</key>
		<true/>
		<key>filmImage</key>
		<string>print8.jpg</string>
		<key>filmIntensity</key>
		<real>0.3</real>
	</dict>
	<dict>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve18.png</string>
		<key>toneCurveIntensity</key>
		<real>0.742938</real>
		<key>brightness</key>
		<real>0.110599</real>
		<key>saturation</key>
		<real>1.465438</real>
		<key>clearness</key>
		<real>0.225806</real>
		<key>vignfade</key>
		<real>0.608295</real>
		<key>blendEnable</key>
		<true/>
		<key>blendImage</key>
		<string>leak27.jpg</string>
		<key>blendIntensity</key>
		<real>0</real>
		<key>filmEnable</key>
		<true/>
		<key>filmImage</key>
		<string>print3.jpg</string>
		<key>filmIntensity</key>
		<real>0.3</real>
	</dict>
	<dict>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve4.png</string>
		<key>toneCurveIntensity</key>
		<real>0.779661</real>
		<key>brightness</key>
		<real>0.138249</real>
		<key>saturation</key>
		<real>1.428571</real>
		<key>clearness</key>
		<real>0.576037</real>
		<key>vignfade</key>
		<real>0.652074</real>
		<key>blendEnable</key>
		<false/>
		<key>blendImage</key>
		<string>(null)</string>
		<key>blendIntensity</key>
		<real>0</real>
		<key>filmEnable</key>
		<false/>
		<key>filmImage</key>
		<string>print1.jpg</string>
		<key>filmIntensity</key>
		<real>0</real>
	</dict>
	<dict>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve3.png</string>
		<key>toneCurveIntensity</key>
		<real>0.765537</real>
		<key>brightness</key>
		<real>0.235023</real>
		<key>saturation</key>
		<real>0.7834100000000001</real>
		<key>clearness</key>
		<real>0.5553</real>
		<key>vignfade</key>
		<real>0.635945</real>
		<key>blendEnable</key>
		<false/>
		<key>blendImage</key>
		<string>(null)</string>
		<key>blendIntensity</key>
		<real>0</real>
		<key>filmEnable</key>
		<false/>
		<key>filmImage</key>
		<string>(null)</string>
		<key>filmIntensity</key>
		<real>0</real>
	</dict>
	<dict>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve6.png</string>
		<key>toneCurveIntensity</key>
		<real>0.723164</real>
		<key>brightness</key>
		<real>-0.207373</real>
		<key>saturation</key>
		<real>1.147465</real>
		<key>clearness</key>
		<real>0.308756</real>
		<key>vignfade</key>
		<real>0.559908</real>
		<key>blendEnable</key>
		<false/>
		<key>blendImage</key>
		<string>(null)</string>
		<key>blendIntensity</key>
		<real>0</real>
		<key>filmEnable</key>
		<true/>
		<key>filmImage</key>
		<string>print2.jpg</string>
		<key>filmIntensity</key>
		<real>0.3</real>
	</dict>
</array>
</plist>
