<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Original</string>
		<key>toneEnable</key>
		<false/>
		<key>toneImage</key>
		<string>(null)</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Classic</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve1.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Soft</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve2.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Sandy</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve3.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Lavender</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve4.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Electrocute</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve5.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Gummy</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve6.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Secret</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve7.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Cozy</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve8.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Haze</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve9.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Glory</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve10.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Big times</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve11.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Christmas</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve12.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Dorian</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve13.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Stingray</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve14.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Forever</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve15.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Alone</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve16.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Inaka</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve17.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Curvy</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>curve18.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Muddy</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>nl_1.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Glare</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>nl_2.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Deep</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>nl_3.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Deeper</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>nl_4.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Festival</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>nl_5.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Street</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>nl_6.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Tropical</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>nl_7.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Grass</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>nl_8.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Warm WB</string>
		<key>toneEnable</key>
		<true/>
		<key>toneImage</key>
		<string>nl_9.png</string>
	</dict>
</array>
</plist>
