<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon@2x.png</string>
				<string>icon.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.luxeys.latte</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>latte</string>
				<string>fb185290701554017</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1.20130121</string>
	<key>FacebookAppID</key>
	<string>185290701554017</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>TwitterAppID</key>
	<string>vOUBvjCaVkfd44pB6WSyQ</string>
	<key>UIAppFonts</key>
	<array>
		<string>Avenir Next Condensed.ttc</string>
		<string>governor.ttf</string>
		<string>RBNo2Light.otf</string>
		<string>Blackout Two AM.ttf</string>
		<string>BLANCH_CONDENSED.otf</string>
		<string>Chunk.otf</string>
		<string>Haymaker.ttf</string>
		<string>knewave.ttf</string>
		<string>League Gothic.otf</string>
		<string>Liberator.otf</string>
		<string>OFLGoudyStM.otf</string>
		<string>Orbitron Black.otf</string>
		<string>Ostrich Regular.ttf</string>
		<string>Pacifico.ttf</string>
		<string>Sniglet Regular.otf</string>
		<string>vevey.otf</string>
		<string>CooperBlackStd.otf</string>
		<string>Hiragino Gothic Std W8.otf</string>
		<string>Linden Hill.otf</string>
		<string>mensch-thin.ttf</string>
		<string>QuaverSerif.otf</string>
		<string>ValenciaLight.otf</string>
		<string>Wisdom Script.otf</string>
		<string>Goon.otf</string>
		<string>Lavanderia Delicate.otf</string>
		<string>Ribbon_V2_2011.otf</string>
		<string>Arvil_Sans.ttf</string>
		<string>MavenProLight-100.otf</string>
		<string>AGaramondPro-Bold.otf</string>
		<string>AGaramondPro-BoldItalic.otf</string>
		<string>AGaramondPro-Italic.otf</string>
		<string>AGaramondPro-Regular.otf</string>
		<string>Arial Bold Italic.ttf</string>
		<string>Arial Bold.ttf</string>
		<string>Arial Italic.ttf</string>
		<string>BLANCH_CAPS.otf</string>
		<string>BLANCH_CAPS_INLINE.otf</string>
		<string>BLANCH_CAPS_LIGHT.otf</string>
		<string>BLANCH_CONDENSED_INLINE.otf</string>
		<string>BLANCH_CONDENSED_LIGHT.otf</string>
		<string>Blackout Midnight.ttf</string>
		<string>Blackout Sunrise.ttf</string>
		<string>Courier New Italic.ttf</string>
		<string>Futura.ttc</string>
		<string>Georgia Bold Italic.ttf</string>
		<string>Georgia Bold.ttf</string>
		<string>Georgia Italic.ttf</string>
		<string>GillSans.ttc</string>
		<string>Hoefler Text.ttc</string>
		<string>LeagueGothic-CondensedItalic.otf</string>
		<string>LeagueGothic-CondensedRegular.otf</string>
		<string>LeagueGothic-Italic.otf</string>
		<string>LeagueGothic-Regular.otf</string>
		<string>MavenProLight-200.otf</string>
		<string>MavenProLight-300.otf</string>
		<string>Ostrich Black.ttf</string>
		<string>Ostrich Bold.ttf</string>
		<string>Ostrich Rounded.ttf</string>
		<string>Palatino Linotype Bold Italic.ttf</string>
		<string>Palatino Linotype Bold.ttf</string>
		<string>Palatino Linotype Italic.ttf</string>
		<string>Palatino Linotype.ttf</string>
		<string>Raleway Thin.ttf</string>
		<string>ValenciaBlack.otf</string>
		<string>ValenciaBlackOblique.otf</string>
		<string>ValenciaBold.otf</string>
		<string>ValenciaBoldOblique.otf</string>
		<string>ValenciaHairline.otf</string>
		<string>ValenciaHairlineOblique.otf</string>
		<string>ValenciaLightOblique.otf</string>
		<string>ValenciaRegular.otf</string>
		<string>ValenciaRegularOblique.otf</string>
		<string>Verdana Bold Italic.ttf</string>
		<string>Verdana Bold.ttf</string>
		<string>Verdana Italic.ttf</string>
		<string>Verdana.ttf</string>
		<string>mensch-bold.ttf</string>
		<string>mensch-inline.ttf</string>
		<string>mensch.ttf</string>
		<string>ProximaNova-Black.ttf</string>
		<string>ProximaNova-Light.otf</string>
		<string>CurlyJ.ttf</string>
		<string>LiveSimply.ttf</string>
		<string>Newbie.ttf</string>
		<string>Windsong.ttf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleBlack</string>
			<key>Translucent</key>
			<true/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
